.body{
    /* background-color: violet; */
}

.nav-bar{
    background-color: orange;
    justify-content: center;
    margin: 10px 265px 10px 265px;
}

.header{
    text-decoration: none;
    color: white;
    width: 100px;
    height: 50px;
    background-color: sienna;
    margin: 5px;
    display: block;
    text-align: center;
    padding-top: 10px;
    border-radius: 1rem;
}
.header:focus{
    background-color: lightskyblue;
}
.header:hover{
    color: white;
}
    